@mixin center-footer-text {
  width: 60% !important;
  margin: 0 auto;
}

footer {
  & > * {
    @include center-footer-text;
  }

  .social-icons {
    cursor: pointer;
    svg {
      fill: #959595;
      width: 1.5rem;
      height: 1.5rem;

      &:hover {
        fill: white;
      }
    }
  }

  #footer-links {
    .row > * {
      padding: 0;
    }

    a {
      display: block;
    }
  }

  .footer-text {
    .btn {
      border-radius: 0;
    }
  }
}
